USE [master]
GO
/****** Object:  Database [Despacho]    Script Date: 13/3/2022 05:59:52 ******/
CREATE DATABASE [Despacho]

begin
EXEC [Despacho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Despacho]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 13/3/2022 05:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[APELLIDO_PATERNO] [varchar](100) NOT NULL,
	[APELLIDO_MATERNO] [varchar](100) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[RFC] [char](13) NOT NULL,
	[DIRECCION] [varchar](500) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[TELEFONO] [char](20) NULL,
	[FECHA_ALTA] [datetime] NOT NULL,
	[FECHA_BAJA] [datetime] NULL,
	[ID_GENERO] [uniqueidentifier] NOT NULL,
	[ID_ESTADO_CIVIL] [uniqueidentifier] NOT NULL,
	[ID_PUESTO] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_CIVIL]    Script Date: 13/3/2022 05:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CIVIL](
	[ID_ESTADO_CIVIL] [uniqueidentifier] NOT NULL,
	[DESCRIPCION] [varchar](20) NULL,
 CONSTRAINT [PK_ESTADO_CIVIL] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_CIVIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 13/3/2022 05:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID_GENERO] [uniqueidentifier] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 13/3/2022 05:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUESTO](
	[ID_PUESTO] [uniqueidentifier] NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_PUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_PUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL], [DESCRIPCION]) VALUES (N'5e59b5dc-9eba-4dad-870c-0ce119dd3d03', N'VIUDO')
INSERT [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL], [DESCRIPCION]) VALUES (N'937c475b-1a63-4f56-b734-0e9bd9f3a5cf', N'UNIÓN LIBRE')
INSERT [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL], [DESCRIPCION]) VALUES (N'6ab32dbd-210f-435c-a928-5891cef03be8', N'SOLTERO')
GO
INSERT [dbo].[GENERO] ([ID_GENERO], [DESCRIPCION]) VALUES (N'2852ad0a-b7f6-4850-aeb8-2ea789e7d3cb', N'FEMENINO')
INSERT [dbo].[GENERO] ([ID_GENERO], [DESCRIPCION]) VALUES (N'58de7932-ee6a-4f18-94f8-b95b041e3a55', N'MASCULINO')
GO
INSERT [dbo].[PUESTO] ([ID_PUESTO], [DESCRIPCION]) VALUES (N'aae71000-da55-4d2e-ab1b-20eed55fda73', N'PROJECT MANAGER')
INSERT [dbo].[PUESTO] ([ID_PUESTO], [DESCRIPCION]) VALUES (N'32361603-21b9-499b-af4e-33056b9d8b95', N'LÍDER TÉCNICO')
INSERT [dbo].[PUESTO] ([ID_PUESTO], [DESCRIPCION]) VALUES (N'83684efc-f69d-4c49-8ab3-4029826c7f6c', N'DESARROLLADOR SR.')
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_ESTADO_CIVIL] FOREIGN KEY([ID_ESTADO_CIVIL])
REFERENCES [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_ESTADO_CIVIL]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_GENERO] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENERO] ([ID_GENERO])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_GENERO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_PUESTO] FOREIGN KEY([ID_PUESTO])
REFERENCES [dbo].[PUESTO] ([ID_PUESTO])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_PUESTO]
GO
USE [master]
GO
